@model p3q3.Models.Student

<h1>Aluno da Codi</h1>

<div>
    <strong>Nome:</strong> @ViewBag.Student.Nome<br />
    <strong>Turno:</strong> @ViewBag.Student.Turno<br />
    <strong>Curso:</strong> @ViewBag.Student.Curso
</div>
